.img-profile {
    border-radius: 50%;
    border: .5rem #c9c9c9 solid;
    object-fit: cover;
    width: 180px;
    height: 180px;
}

.resume-buttons {
    display: flex;
    justify-content: space-evenly;
}

.box img {
    object-fit: cover
}

.svg-inline--fa {
    font-size: 2em
}